@model Shop.Web.Data.Entities.Productos

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>Estás seguro que quieres eliminar esto?</h3>
<div>
    <h4>Productos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class="col-sm-10">
            @if (!string.IsNullOrEmpty(Model.ImageUrl))
            {
                <img src="@Url.Content(Model.ImageUrl)" alt="Image" style="width:100px;height:150px;max-width: 100%; height: auto;" />
            }

        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UltComp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UltComp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UltVent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UltVent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disponi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disponi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stock)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger"><i class="fa fa-thash"></i> Eliminar</button>
        |
        <a asp-action="Index" class="btn btn-outline-success btn-lg"><i class="fa fa-chevron-left"></i>Regresar a Lista</a>
    </form>
</div>
